.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    gap: 5px;

    .price-span {
        padding: 18px 30px;
        margin: 10px 0px;
        margin-top: 100px;
        background-color: rgba(53, 13, 145, 0.951);
        border: 1px solid rgba(53, 13, 145, 0.951);
        border-radius: 30px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        transition: 0.5s;

        &:hover {
            background-color: white;
            cursor: pointer;
            color: rgba(53, 13, 145, 0.951);
        }
    }

    h1 {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }

    .price-p {
        margin: 20px 0;
        text-align: center;
        max-width: 600px;
    }

    .price-plans {
        display: flex;
        border: 1px solid rgb(242, 245, 245);
        padding: 8px 10px;
        border-radius: 50px;
        background-color: rgb(239, 244, 244);

        button {
            border: 1px solid rgb(240, 245, 245);
            padding: 10px;
            font-size: 22px;
            font-weight: 600;
            border-radius: 30px;
            color: rgb(4, 187, 187);
            background-color: transparent;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;

            &.active {
                background-color: rgb(4, 187, 187);
                color: white;
            }
        }
    }
}

.price-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 50px 35px;
    gap: 20px;
}

.price-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 1px 1px rgb(225, 224, 224);
    padding: 30px;
    border-radius: 10px;
    }
.price-solo{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.price-solo-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px 1px rgb(225, 224, 224);
    padding: 0px;
    border: 2px solid rgb(71, 248, 248);
    border-radius: 10px;
}
.price-popular{
    text-align: center;
    background-color: rgb(71, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 28px;
}
.price-upper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    .price-sub-upper {
        display: flex;
        justify-content: space-between;

        .price-sub-sub {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .price-h2{
            font-size: 30px;
            font-weight: 700;
        }
    }
}

.price-lower {
    display: flex;
    flex-direction: column;

    .price-lower-p1 {
        font-size: 23px;
        color: gray;
    }

    .price-lower-p2 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .price-sub-lower {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: rgb(43, 40, 40);
    }

    .price-sub-l {
        display: flex;
        gap: 15px;
        align-items: center;

        .price-tick {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}
.price-tiny-lower{
    margin-bottom: 170px;
}
.price-solo-lower{
    margin-bottom: 50px;
}

button {
    padding: 8px;
    border-radius: 60px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.price-tiny-btn {
    margin-top: 200px;
    border: 1px solid purple;
    background-color: purple;
    
    &:hover {
        background-color: white;
        color: purple;
    }
}

.price-solo-btn {
    margin-top: 100px;
    border: 1px solid rgb(4, 187, 187);
    background-color: rgb(4, 187, 187);
    
    &:hover {
        background-color: white;
        color: rgb(4, 187, 187);
    }
}

.price-pro-btn {
    border: 1px solid rgb(246, 221, 80);
    background-color: rgb(246, 221, 80);

    &:hover {
        background-color: white;
        color: rgb(246, 221, 80);
    }
}


@media screen and (max-width:768px){
    .price {
        .price-span {
            padding: 10px 20px;  
        }
        h1 {
            font-size: 40px;
        }
        .price-p {
            margin: 10px 0;
            max-width: 500px;
        }
    
        .price-plans {
            padding: 5px 8px;    
            button {
                padding: 7px;
                font-size: 19px;
            }
        }
    }
    
    .price-container {
        grid-template-columns: 1fr;
        margin: 15px;
    }
}

@media screen and (max-width:412px){
    .price {
        .price-span {
            padding: 10px 20px;  
        }
        h1 {
            font-size: 40px;
        }
        .price-p {
            margin: 10px 0;
            max-width: 360px;
        }
    
        .price-plans {
            padding: 5px 8px;    
            button {
                padding: 7px;
                font-size: 19px;
            }
        }
    }
    
    .price-container {
        grid-template-columns: 1fr;
        margin: 15px;
    }
}