#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;

    .nav-hammer {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 23px;
            font-weight: 700;
        }
    }


    #menu {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;

            a {
                font-size: 18px;
                font-weight: 500;
                color: black;
                padding: 14px 46px;
                border-radius: 30px;
                text-decoration: none;

                &:hover {
                    background-color: rgb(4, 187, 187);
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }


    #mobile {
        display: none;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a {
            font-size: 19px;
            font-weight: 600;
            color: black;
            padding: 14px 28px;
            border-radius: 30px;
            text-decoration: none;
        }

        .login {
            border: 1px solid rgb(4, 187, 187);
            background-color: rgb(4, 187, 187);
            color: white;

            &:hover {
                background-color: white;
                cursor: pointer;
                color: black;
            }
        }

        .signup {
            border: 1px solid black;
            background-color: white;

            &:hover {
                background-color: black;
                color: white;
                cursor: pointer;
            }
        }

    }
}

#nav.active {
    top: 0;
    left: 0px;
    width: 350px;
    height: 100vh;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    padding: 15px 25px;
    position: fixed;
    z-index: 999;
    background-color: white;

    .nav-hammer {
        gap: 165px;

        h1 {
            font-size: 16px;
        }
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 40px;
        margin-bottom: 500px;

        li {
            list-style: none;
            margin-bottom: 20px;

            a {
                padding: 5px 15px;
            }
        }
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 18px;
        cursor: pointer;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        a {
            font-size: 15px;
            font-weight: 500;
            padding: 8px 25px;
        }
    }

}

@media screen and (max-width:768px) {
    #nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 25px 35px;

        .nav-hammer {
            gap: 500px;

            h1 {
                font-size: 30px;
            }
        }

        #menu {
            display: none;
        }

        #mobile {
            display: block;
        }

        #mobile i {
            font-size: 25px;
            cursor: pointer;
        }

        .user {
            display: none;
        }
    }

    #nav.active {
        width: 730px;
        padding: 25px 45px;

        .nav-hammer {
            gap: 475px;

            h1 {
                font-size: 25px;
            }
        }

        #menu {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 40px;
            margin-bottom: 200px;

            li {
                margin-bottom: 20px;

                a {
                    padding: 15px;
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }

        #mobile {
            display: block;
        }

        #mobile i {
            font-size: 25px;
            cursor: pointer;
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 45px;

            a {
                font-size: 25px;
                font-weight: 500;
                padding: 12px 35px;
            }
        }

    }
}

@media screen and (max-width:412px) {
    #nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 25px 35px;

        .nav-hammer {
            gap: 230px;

            h1 {
                font-size: 16px;
            }
        }

        #menu {
            display: none;
        }

        #mobile {
            display: block;
        }

        #mobile i {
            font-size: 18px;
            cursor: pointer;
        }

        .user {
            display: none;
        }
    }
    #nav.active{
        width: 390px;
        padding: 30px;
        .nav-hammer {
            gap: 190px;
    
            h1 {
                font-size: 22px;
            }
        }
        #menu {
            margin-bottom:200px;
    
            li {
                margin-bottom: 15px;
    
                a {
                    padding: 15px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    
        #mobile {
            display: block;
        }
    
        #mobile i {
            font-size: 23px;
            cursor: pointer;
        }
    
        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
    
            a {
                font-size: 18px;
                font-weight: 500;
                padding: 8px 20px;
            }     
        }
    
    }
}